# Core modules
jupyterlite-core==0.6.1
jupyterlab~=4.4.3
notebook~=7.4.3

jupyterlite-pyodide-kernel

jupyterlab-night
nbformat

ipywidgets>=8.1.3,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet

matplotlib==3.10.3
pandas==2.2.3
numpy==1.26.4
scikit-learn